<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>country</th>
      <th>num_visitors</th>
      <th>num_ie11_visitors</th>
      <th>percent_ie11</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>165</th>
      <td>Sudan</td>
      <td>126</td>
      <td>2</td>
      <td>1.587302</td>
    </tr>
    <tr>
      <th>1</th>
      <td>South Korea</td>
      <td>1086</td>
      <td>17</td>
      <td>1.565378</td>
    </tr>
    <tr>
      <th>132</th>
      <td>Syria</td>
      <td>134</td>
      <td>2</td>
      <td>1.492537</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Philippines</td>
      <td>919</td>
      <td>10</td>
      <td>1.088139</td>
    </tr>
    <tr>
      <th>139</th>
      <td>Myanmar</td>
      <td>182</td>
      <td>1</td>
      <td>0.549451</td>
    </tr>
    <tr>
      <th>181</th>
      <td>Japan</td>
      <td>4132</td>
      <td>17</td>
      <td>0.411423</td>
    </tr>
    <tr>
      <th>79</th>
      <td>Uganda</td>
      <td>255</td>
      <td>1</td>
      <td>0.392157</td>
    </tr>
    <tr>
      <th>85</th>
      <td>New Zealand</td>
      <td>302</td>
      <td>1</td>
      <td>0.331126</td>
    </tr>
    <tr>
      <th>111</th>
      <td>Uzbekistan</td>
      <td>330</td>
      <td>1</td>
      <td>0.303030</td>
    </tr>
    <tr>
      <th>61</th>
      <td>Ireland</td>
      <td>360</td>
      <td>1</td>
      <td>0.277778</td>
    </tr>
    <tr>
      <th>160</th>
      <td>Belarus</td>
      <td>402</td>
      <td>1</td>
      <td>0.248756</td>
    </tr>
    <tr>
      <th>126</th>
      <td>Serbia</td>
      <td>466</td>
      <td>1</td>
      <td>0.214592</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Saudi Arabia</td>
      <td>1123</td>
      <td>2</td>
      <td>0.178094</td>
    </tr>
    <tr>
      <th>75</th>
      <td>Azerbaijan</td>
      <td>615</td>
      <td>1</td>
      <td>0.162602</td>
    </tr>
    <tr>
      <th>117</th>
      <td>Peru</td>
      <td>617</td>
      <td>1</td>
      <td>0.162075</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Australia</td>
      <td>1332</td>
      <td>2</td>
      <td>0.150150</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Switzerland</td>
      <td>700</td>
      <td>1</td>
      <td>0.142857</td>
    </tr>
    <tr>
      <th>90</th>
      <td>Germany</td>
      <td>4490</td>
      <td>5</td>
      <td>0.111359</td>
    </tr>
    <tr>
      <th>145</th>
      <td>Iran</td>
      <td>3729</td>
      <td>4</td>
      <td>0.107267</td>
    </tr>
    <tr>
      <th>215</th>
      <td>France</td>
      <td>5944</td>
      <td>5</td>
      <td>0.084118</td>
    </tr>
    <tr>
      <th>157</th>
      <td>Sweden</td>
      <td>1233</td>
      <td>1</td>
      <td>0.081103</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Hong Kong</td>
      <td>1346</td>
      <td>1</td>
      <td>0.074294</td>
    </tr>
    <tr>
      <th>162</th>
      <td>Canada</td>
      <td>2727</td>
      <td>2</td>
      <td>0.073341</td>
    </tr>
    <tr>
      <th>42</th>
      <td>United Kingdom</td>
      <td>4129</td>
      <td>3</td>
      <td>0.072657</td>
    </tr>
    <tr>
      <th>127</th>
      <td>Israel</td>
      <td>1400</td>
      <td>1</td>
      <td>0.071429</td>
    </tr>
    <tr>
      <th>105</th>
      <td>Indonesia</td>
      <td>3033</td>
      <td>2</td>
      <td>0.065941</td>
    </tr>
    <tr>
      <th>172</th>
      <td>Vietnam</td>
      <td>1581</td>
      <td>1</td>
      <td>0.063251</td>
    </tr>
    <tr>
      <th>200</th>
      <td>Mexico</td>
      <td>1593</td>
      <td>1</td>
      <td>0.062775</td>
    </tr>
    <tr>
      <th>109</th>
      <td>Turkey</td>
      <td>3326</td>
      <td>2</td>
      <td>0.060132</td>
    </tr>
    <tr>
      <th>49</th>
      <td>Italy</td>
      <td>3668</td>
      <td>2</td>
      <td>0.054526</td>
    </tr>
    <tr>
      <th>67</th>
      <td>Taiwan</td>
      <td>1892</td>
      <td>1</td>
      <td>0.052854</td>
    </tr>
    <tr>
      <th>207</th>
      <td>Russia</td>
      <td>6097</td>
      <td>3</td>
      <td>0.049205</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Poland</td>
      <td>2327</td>
      <td>1</td>
      <td>0.042974</td>
    </tr>
    <tr>
      <th>192</th>
      <td>Spain</td>
      <td>2790</td>
      <td>1</td>
      <td>0.035842</td>
    </tr>
    <tr>
      <th>191</th>
      <td>United States</td>
      <td>17965</td>
      <td>5</td>
      <td>0.027832</td>
    </tr>
    <tr>
      <th>153</th>
      <td>Brazil</td>
      <td>4639</td>
      <td>1</td>
      <td>0.021556</td>
    </tr>
    <tr>
      <th>131</th>
      <td>India</td>
      <td>9116</td>
      <td>1</td>
      <td>0.010970</td>
    </tr>
    <tr>
      <th>167</th>
      <td>Gambia</td>
      <td>9</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>152</th>
      <td>Tajikistan</td>
      <td>52</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>154</th>
      <td>El Salvador</td>
      <td>88</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>155</th>
      <td>Oman</td>
      <td>128</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>169</th>
      <td>Nicaragua</td>
      <td>49</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>156</th>
      <td>Estonia</td>
      <td>278</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Sri Lanka</td>
      <td>313</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>158</th>
      <td>Afghanistan</td>
      <td>81</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>168</th>
      <td>Togo</td>
      <td>60</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>159</th>
      <td>Tunisia</td>
      <td>242</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Cambodia</td>
      <td>129</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>151</th>
      <td>Colombia</td>
      <td>915</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>161</th>
      <td>American Samoa</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Armenia</td>
      <td>320</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>163</th>
      <td>Latvia</td>
      <td>170</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>164</th>
      <td>Kiribati</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Paraguay</td>
      <td>89</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>166</th>
      <td>Puerto Rico</td>
      <td>40</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Bosnia and Herzegovina</td>
      <td>132</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>148</th>
      <td>Cuba</td>
      <td>135</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>150</th>
      <td>Réunion</td>
      <td>25</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>138</th>
      <td>Curaçao</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>128</th>
      <td>Saint Lucia</td>
      <td>5</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>129</th>
      <td>Morocco</td>
      <td>602</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>130</th>
      <td>Zambia</td>
      <td>78</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Austria</td>
      <td>610</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>133</th>
      <td>Honduras</td>
      <td>74</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>134</th>
      <td>Guam</td>
      <td>7</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>135</th>
      <td>Turkmenistan</td>
      <td>26</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>136</th>
      <td>Botswana</td>
      <td>32</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>137</th>
      <td>Finland</td>
      <td>759</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Namibia</td>
      <td>47</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>149</th>
      <td>Qatar</td>
      <td>117</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>140</th>
      <td>Somalia</td>
      <td>48</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>141</th>
      <td>Seychelles</td>
      <td>6</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>142</th>
      <td>Kyrgyzstan</td>
      <td>94</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>143</th>
      <td>Bahrain</td>
      <td>65</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>144</th>
      <td>Bolivia</td>
      <td>138</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Sierra Leone</td>
      <td>28</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>146</th>
      <td>Martinique</td>
      <td>14</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>147</th>
      <td>Costa Rica</td>
      <td>111</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>171</th>
      <td>Benin</td>
      <td>78</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>170</th>
      <td>Romania</td>
      <td>689</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>174</th>
      <td>Jersey</td>
      <td>4</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Federated States of Micronesia</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>173</th>
      <td>Palau</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>198</th>
      <td>DR Congo</td>
      <td>340</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>199</th>
      <td>Mongolia</td>
      <td>112</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>North Macedonia</td>
      <td>57</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>201</th>
      <td>Nepal</td>
      <td>305</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>202</th>
      <td>Djibouti</td>
      <td>12</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>203</th>
      <td>Burkina Faso</td>
      <td>87</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>204</th>
      <td>South Sudan</td>
      <td>17</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>205</th>
      <td>Brunei</td>
      <td>20</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>206</th>
      <td>Cabo Verde</td>
      <td>5</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>208</th>
      <td>Albania</td>
      <td>133</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>209</th>
      <td>Georgia</td>
      <td>211</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>210</th>
      <td>Senegal</td>
      <td>110</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>211</th>
      <td>Lesotho</td>
      <td>12</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>212</th>
      <td>Mozambique</td>
      <td>105</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>213</th>
      <td>Argentina</td>
      <td>1182</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>214</th>
      <td>Aruba</td>
      <td>3</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>French Guiana</td>
      <td>17</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>216</th>
      <td>Malta</td>
      <td>40</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>217</th>
      <td>Portugal</td>
      <td>645</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>197</th>
      <td>Palestine</td>
      <td>119</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>196</th>
      <td>Papua New Guinea</td>
      <td>22</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>195</th>
      <td>Ecuador</td>
      <td>244</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>182</th>
      <td>Unknown</td>
      <td>22</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Libya</td>
      <td>124</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>175</th>
      <td>South Africa</td>
      <td>1039</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>176</th>
      <td>Kosovo</td>
      <td>30</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>177</th>
      <td>Suriname</td>
      <td>12</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>178</th>
      <td>Faroe Islands</td>
      <td>4</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>179</th>
      <td>Egypt</td>
      <td>1399</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>180</th>
      <td>Ivory Coast</td>
      <td>167</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Trinidad and Tobago</td>
      <td>24</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>183</th>
      <td>Belize</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>194</th>
      <td>Jamaica</td>
      <td>52</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>184</th>
      <td>Cyprus</td>
      <td>66</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>185</th>
      <td>Nigeria</td>
      <td>1293</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>186</th>
      <td>Angola</td>
      <td>171</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>187</th>
      <td>Ukraine</td>
      <td>2574</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>188</th>
      <td>Eswatini</td>
      <td>8</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>189</th>
      <td>Ghana</td>
      <td>81</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>190</th>
      <td>Slovakia</td>
      <td>330</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>193</th>
      <td>French Polynesia</td>
      <td>5</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Guinea</td>
      <td>80</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>124</th>
      <td>Kenya</td>
      <td>364</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>125</th>
      <td>Yemen</td>
      <td>203</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>65</th>
      <td>Madagascar</td>
      <td>43</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>56</th>
      <td>Moldova</td>
      <td>112</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>57</th>
      <td>Belgium</td>
      <td>839</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>58</th>
      <td>Timor-Leste</td>
      <td>12</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>59</th>
      <td>Kuwait</td>
      <td>196</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>60</th>
      <td>Ethiopia</td>
      <td>137</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Thailand</td>
      <td>700</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>62</th>
      <td>Guinea-Bissau</td>
      <td>3</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>63</th>
      <td>Burundi</td>
      <td>22</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>64</th>
      <td>Panama</td>
      <td>93</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>66</th>
      <td>Netherlands</td>
      <td>1413</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>78</th>
      <td>Bahamas</td>
      <td>12</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>68</th>
      <td>U.S. Virgin Islands</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>69</th>
      <td>Dominica</td>
      <td>3</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>70</th>
      <td>Montenegro</td>
      <td>31</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>71</th>
      <td>Cayman Islands</td>
      <td>4</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>72</th>
      <td>Gabon</td>
      <td>45</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>73</th>
      <td>Mauritania</td>
      <td>27</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>74</th>
      <td>Guernsey</td>
      <td>4</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Vanuatu</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>76</th>
      <td>Malaysia</td>
      <td>536</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>55</th>
      <td>Samoa</td>
      <td>3</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>54</th>
      <td>Slovenia</td>
      <td>142</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>53</th>
      <td>Cameroon</td>
      <td>149</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>52</th>
      <td>Greece</td>
      <td>567</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Eritrea</td>
      <td>15</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>33</th>
      <td>New Caledonia</td>
      <td>12</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Sint Maarten</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Iceland</td>
      <td>46</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Mauritius</td>
      <td>14</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Liberia</td>
      <td>36</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Andorra</td>
      <td>12</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>39</th>
      <td>Monaco</td>
      <td>3</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Bonaire, Sint Eustatius, and Saba</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Malawi</td>
      <td>39</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Guyana</td>
      <td>17</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>43</th>
      <td>Hungary</td>
      <td>730</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Croatia</td>
      <td>182</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Venezuela</td>
      <td>352</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>46</th>
      <td>Lebanon</td>
      <td>118</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Uruguay</td>
      <td>140</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>48</th>
      <td>Cook Islands</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>50</th>
      <td>Åland</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>51</th>
      <td>San Marino</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>77</th>
      <td>Laos</td>
      <td>18</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Tonga</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Haiti</td>
      <td>66</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>113</th>
      <td>Iraq</td>
      <td>891</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>104</th>
      <td>Zimbabwe</td>
      <td>56</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Central African Republic</td>
      <td>5</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>106</th>
      <td>Guadeloupe</td>
      <td>19</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>107</th>
      <td>Liechtenstein</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>108</th>
      <td>Equatorial Guinea</td>
      <td>6</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Bulgaria</td>
      <td>337</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>110</th>
      <td>Denmark</td>
      <td>505</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Isle of Man</td>
      <td>4</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>112</th>
      <td>Rwanda</td>
      <td>71</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>114</th>
      <td>Chad</td>
      <td>16</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>80</th>
      <td>Northern Mariana Islands</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>115</th>
      <td>Saint Martin</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>116</th>
      <td>Jordan</td>
      <td>293</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Czechia</td>
      <td>1246</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>118</th>
      <td>Niger</td>
      <td>26</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>119</th>
      <td>Maldives</td>
      <td>28</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>120</th>
      <td>Mayotte</td>
      <td>3</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>121</th>
      <td>Congo Republic</td>
      <td>53</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>122</th>
      <td>Greenland</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>123</th>
      <td>Kazakhstan</td>
      <td>581</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>103</th>
      <td>Pakistan</td>
      <td>1229</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>102</th>
      <td>Barbados</td>
      <td>13</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>101</th>
      <td>Guatemala</td>
      <td>129</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>100</th>
      <td>Solomon Islands</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>81</th>
      <td>British Virgin Islands</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>82</th>
      <td>United Arab Emirates</td>
      <td>565</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>83</th>
      <td>Fiji</td>
      <td>9</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>84</th>
      <td>Luxembourg</td>
      <td>49</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>23</th>
      <td>China</td>
      <td>189</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>86</th>
      <td>São Tomé and Príncipe</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>87</th>
      <td>Chile</td>
      <td>560</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>88</th>
      <td>Norway</td>
      <td>160</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>89</th>
      <td>Mali</td>
      <td>41</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Dominican Republic</td>
      <td>210</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>91</th>
      <td>Norfolk Island</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>92</th>
      <td>Bhutan</td>
      <td>12</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>93</th>
      <td>Bangladesh</td>
      <td>1810</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>94</th>
      <td>Lithuania</td>
      <td>174</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>95</th>
      <td>Macao</td>
      <td>47</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>96</th>
      <td>Tanzania</td>
      <td>229</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>97</th>
      <td>Singapore</td>
      <td>377</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>98</th>
      <td>Algeria</td>
      <td>649</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>99</th>
      <td>Gibraltar</td>
      <td>5</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>218</th>
      <td>Comoros</td>
      <td>13</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
  </tbody>
</table>
</div>