<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>wiki</th>
      <th>num_visitors</th>
      <th>num_ie11_visitors</th>
      <th>percent_ie11</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>123</th>
      <td>kowiki</td>
      <td>922</td>
      <td>16</td>
      <td>1.735358</td>
    </tr>
    <tr>
      <th>30</th>
      <td>jawiki</td>
      <td>3942</td>
      <td>16</td>
      <td>0.405885</td>
    </tr>
    <tr>
      <th>85</th>
      <td>zhwiki</td>
      <td>3638</td>
      <td>11</td>
      <td>0.302364</td>
    </tr>
    <tr>
      <th>147</th>
      <td>srwiki</td>
      <td>360</td>
      <td>1</td>
      <td>0.277778</td>
    </tr>
    <tr>
      <th>18</th>
      <td>azwiki</td>
      <td>446</td>
      <td>1</td>
      <td>0.224215</td>
    </tr>
    <tr>
      <th>128</th>
      <td>svwiki</td>
      <td>835</td>
      <td>1</td>
      <td>0.119760</td>
    </tr>
    <tr>
      <th>71</th>
      <td>arwiki</td>
      <td>5176</td>
      <td>6</td>
      <td>0.115920</td>
    </tr>
    <tr>
      <th>117</th>
      <td>dewiki</td>
      <td>4332</td>
      <td>5</td>
      <td>0.115420</td>
    </tr>
    <tr>
      <th>152</th>
      <td>fawiki</td>
      <td>3605</td>
      <td>4</td>
      <td>0.110957</td>
    </tr>
    <tr>
      <th>37</th>
      <td>hewiki</td>
      <td>1169</td>
      <td>1</td>
      <td>0.085543</td>
    </tr>
    <tr>
      <th>95</th>
      <td>frwiki</td>
      <td>8926</td>
      <td>7</td>
      <td>0.078423</td>
    </tr>
    <tr>
      <th>92</th>
      <td>idwiki</td>
      <td>2658</td>
      <td>2</td>
      <td>0.075245</td>
    </tr>
    <tr>
      <th>35</th>
      <td>itwiki</td>
      <td>3375</td>
      <td>2</td>
      <td>0.059259</td>
    </tr>
    <tr>
      <th>157</th>
      <td>ruwiki</td>
      <td>8790</td>
      <td>5</td>
      <td>0.056883</td>
    </tr>
    <tr>
      <th>112</th>
      <td>plwiki</td>
      <td>1987</td>
      <td>1</td>
      <td>0.050327</td>
    </tr>
    <tr>
      <th>148</th>
      <td>enwiki</td>
      <td>50429</td>
      <td>21</td>
      <td>0.041643</td>
    </tr>
    <tr>
      <th>74</th>
      <td>trwiki</td>
      <td>2769</td>
      <td>1</td>
      <td>0.036114</td>
    </tr>
    <tr>
      <th>94</th>
      <td>eswiki</td>
      <td>8509</td>
      <td>3</td>
      <td>0.035257</td>
    </tr>
    <tr>
      <th>38</th>
      <td>ptwiki</td>
      <td>5122</td>
      <td>1</td>
      <td>0.019524</td>
    </tr>
    <tr>
      <th>139</th>
      <td>szlwiki</td>
      <td>4</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>129</th>
      <td>bclwiki</td>
      <td>4</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>140</th>
      <td>bnwiki</td>
      <td>768</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>138</th>
      <td>tswiki</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>130</th>
      <td>bowiki</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>131</th>
      <td>nsowiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>132</th>
      <td>nnwiki</td>
      <td>8</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>133</th>
      <td>dawiki</td>
      <td>248</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>134</th>
      <td>sahwiki</td>
      <td>14</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>135</th>
      <td>frpwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>136</th>
      <td>ruewiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>137</th>
      <td>cawiki</td>
      <td>222</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>127</th>
      <td>glwiki</td>
      <td>24</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>124</th>
      <td>altwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>126</th>
      <td>afwiki</td>
      <td>14</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>113</th>
      <td>yiwiki</td>
      <td>5</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>104</th>
      <td>wowiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>105</th>
      <td>xmfwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>106</th>
      <td>euwiki</td>
      <td>154</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>107</th>
      <td>mrjwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>108</th>
      <td>cywiki</td>
      <td>4</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>109</th>
      <td>abwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>110</th>
      <td>ugwiki</td>
      <td>3</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>111</th>
      <td>omwiki</td>
      <td>3</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>114</th>
      <td>kswiki</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>125</th>
      <td>shnwiki</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>115</th>
      <td>iswiki</td>
      <td>21</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>116</th>
      <td>angwiki</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>118</th>
      <td>liwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>119</th>
      <td>pnbwiki</td>
      <td>3</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>120</th>
      <td>fiu_vrowiki</td>
      <td>5</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>121</th>
      <td>atjwiki</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>122</th>
      <td>sqwiki</td>
      <td>108</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>142</th>
      <td>cswiki</td>
      <td>1077</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>141</th>
      <td>newiki</td>
      <td>35</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>0</th>
      <td>iawiki</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>143</th>
      <td>iewiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>180</th>
      <td>astwiki</td>
      <td>4</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>171</th>
      <td>bswiki</td>
      <td>49</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>172</th>
      <td>papwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>173</th>
      <td>huwiki</td>
      <td>696</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>174</th>
      <td>shwiki</td>
      <td>22</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>175</th>
      <td>niawiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>176</th>
      <td>kaawiki</td>
      <td>3</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>177</th>
      <td>nahwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>178</th>
      <td>iuwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>179</th>
      <td>guwiki</td>
      <td>34</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>181</th>
      <td>barwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>144</th>
      <td>sswiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>182</th>
      <td>cebwiki</td>
      <td>9</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>183</th>
      <td>rwwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>184</th>
      <td>banwiki</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>185</th>
      <td>ltwiki</td>
      <td>88</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>186</th>
      <td>bewiki</td>
      <td>24</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>187</th>
      <td>skwiki</td>
      <td>246</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>188</th>
      <td>kawiki</td>
      <td>132</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>189</th>
      <td>scnwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>190</th>
      <td>akwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>170</th>
      <td>uzwiki</td>
      <td>203</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>169</th>
      <td>fywiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>168</th>
      <td>oswiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>167</th>
      <td>siwiki</td>
      <td>47</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>145</th>
      <td>sdwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>146</th>
      <td>bjnwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>102</th>
      <td>be_x_oldwiki</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>149</th>
      <td>ckbwiki</td>
      <td>68</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>150</th>
      <td>scowiki</td>
      <td>5</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>151</th>
      <td>hrwiki</td>
      <td>140</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>153</th>
      <td>kuwiki</td>
      <td>9</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>154</th>
      <td>miwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>155</th>
      <td>fowiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>156</th>
      <td>jvwiki</td>
      <td>3</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>158</th>
      <td>knwiki</td>
      <td>31</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>159</th>
      <td>tewiki</td>
      <td>74</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>160</th>
      <td>tkwiki</td>
      <td>9</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>161</th>
      <td>sowiki</td>
      <td>17</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>162</th>
      <td>bgwiki</td>
      <td>235</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>163</th>
      <td>pawiki</td>
      <td>6</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>164</th>
      <td>lijwiki</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>165</th>
      <td>tawiki</td>
      <td>104</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>166</th>
      <td>maiwiki</td>
      <td>3</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>103</th>
      <td>swwiki</td>
      <td>84</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>96</th>
      <td>hywwiki</td>
      <td>12</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>101</th>
      <td>tlwiki</td>
      <td>41</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>24</th>
      <td>kkwiki</td>
      <td>145</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>26</th>
      <td>hakwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>27</th>
      <td>hiwiki</td>
      <td>591</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>28</th>
      <td>myvwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>29</th>
      <td>snwiki</td>
      <td>3</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>31</th>
      <td>azbwiki</td>
      <td>4</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>32</th>
      <td>tumwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>33</th>
      <td>wuuwiki</td>
      <td>6</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>34</th>
      <td>anwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>36</th>
      <td>twwiki</td>
      <td>9</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>39</th>
      <td>hywiki</td>
      <td>238</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>40</th>
      <td>gagwiki</td>
      <td>3</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>41</th>
      <td>igwiki</td>
      <td>9</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>42</th>
      <td>kmwiki</td>
      <td>30</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>43</th>
      <td>mlwiki</td>
      <td>68</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>44</th>
      <td>minwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>45</th>
      <td>arzwiki</td>
      <td>43</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>46</th>
      <td>lawiki</td>
      <td>11</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>47</th>
      <td>mznwiki</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>48</th>
      <td>glkwiki</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>25</th>
      <td>furwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>23</th>
      <td>xhwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>100</th>
      <td>lowiki</td>
      <td>4</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>22</th>
      <td>ocwiki</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>mswiki</td>
      <td>190</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>map_bmswiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>kwwiki</td>
      <td>3</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>mywiki</td>
      <td>128</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>hawiki</td>
      <td>17</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>mwlwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>sawiki</td>
      <td>7</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>hifwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>bhwiki</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>gdwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>tywiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>scwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>14</th>
      <td>mnwiki</td>
      <td>84</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>15</th>
      <td>pswiki</td>
      <td>12</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>16</th>
      <td>tcywiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>17</th>
      <td>tetwiki</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>19</th>
      <td>mrwiki</td>
      <td>74</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>20</th>
      <td>gcrwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>21</th>
      <td>kywiki</td>
      <td>11</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>49</th>
      <td>simplewiki</td>
      <td>378</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>50</th>
      <td>brwiki</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>51</th>
      <td>arywiki</td>
      <td>7</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>52</th>
      <td>etwiki</td>
      <td>192</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>77</th>
      <td>thwiki</td>
      <td>538</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>78</th>
      <td>dzwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>79</th>
      <td>satwiki</td>
      <td>4</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>80</th>
      <td>ttwiki</td>
      <td>9</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>81</th>
      <td>cewiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>82</th>
      <td>stwiki</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>83</th>
      <td>lmowiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>84</th>
      <td>zh_min_nanwiki</td>
      <td>9</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>86</th>
      <td>bawiki</td>
      <td>8</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>87</th>
      <td>yowiki</td>
      <td>12</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>88</th>
      <td>elwiki</td>
      <td>375</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>89</th>
      <td>aswiki</td>
      <td>32</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>90</th>
      <td>eowiki</td>
      <td>16</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>91</th>
      <td>ikwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>93</th>
      <td>warwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>viwiki</td>
      <td>1387</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>97</th>
      <td>rowiki</td>
      <td>507</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>98</th>
      <td>madwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>99</th>
      <td>htwiki</td>
      <td>5</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>76</th>
      <td>lvwiki</td>
      <td>78</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>75</th>
      <td>urwiki</td>
      <td>81</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>73</th>
      <td>orwiki</td>
      <td>10</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>61</th>
      <td>zuwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>53</th>
      <td>gawiki</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>54</th>
      <td>alswiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>55</th>
      <td>fiwiki</td>
      <td>616</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>56</th>
      <td>smnwiki</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>57</th>
      <td>cowiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>58</th>
      <td>mkwiki</td>
      <td>22</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>59</th>
      <td>suwiki</td>
      <td>5</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>60</th>
      <td>klwiki</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>62</th>
      <td>nqowiki</td>
      <td>9</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>72</th>
      <td>ukwiki</td>
      <td>1561</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>63</th>
      <td>napwiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>64</th>
      <td>tgwiki</td>
      <td>5</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>65</th>
      <td>skrwiki</td>
      <td>5</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>66</th>
      <td>ffwiki</td>
      <td>5</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>67</th>
      <td>slwiki</td>
      <td>84</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>68</th>
      <td>bpywiki</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>69</th>
      <td>amwiki</td>
      <td>20</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>70</th>
      <td>nlwiki</td>
      <td>1197</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>191</th>
      <td>zh_classicalwiki</td>
      <td>4</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
  </tbody>
</table>
</div>